header {
	height: 75px;
	background-color: blue;
	color: white;
}

nav, #mainContent, aside {
	display: inline-block;
}

nav {
	background-color: yellow;
	width: 150 px;
	height: 150px;
}

#mainContent {
	background-color: green;
	width: 900px;
}

footer {
	background-color: tan;
	height: 75px;
}

aside {
	background-color: grey;
	width: 150px;
	height: 150px;
}

h2, h4 {
	text-align: center;
}